/* RESET */
* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body {
  margin: 0;
  background: #fff;
  color: #000;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial;
}

/* usuń domyślne style przycisków/inputów z przeglądarki */
button, input, textarea {
  font: inherit;
  color: inherit;
}
button {
  background: transparent;
  border: none;
  padding: 0;
}
input, textarea {
  border: 1px solid #000;
  background: #fff;
  outline: none;
}